<!DOCTYPE html>
<html>
    <head>
        <title>Author-Write-Us</title>
    </head>


    <body>
        <%- include('partials/current-user-header') %>
        
        <h1>Home Page</h1>
        <p><a href="./create.html">Create Story</a></p>
        <h2>In-progress Stories:</h2>
        <table>
            <tr>
                <th>Story</th>
                <th>Authors</th>
                <th>Date</th>
            </tr>
        </table>
        <h2>Completed Stories:</h2>
        <p><a href="./library">View Library</a></p>

    </body>
</html>
